// Theme colors
$brand-primary:                   #02B4E5;
$brand-secondary:                 #273841;
$brand-tertiary:                  #1D2A30;
$gray-dark:                       #444444;
$gray:                            #808088;
$gray-light:                      #E0E0E0;
$gray-lighter:                    #F4F4F4;
$white-color:                     #FFFFFF;
