// Theme colors
$brand-primary:                   #FF518C;
$brand-secondary:                 #2F2859;
$brand-tertiary:                  #28224C;
$gray-dark:                       #48474C;
$gray:                            #8D8C92;
$gray-light:                      #EBEAF1;
$gray-lighter:                    #F4F3F9;
$white-color:                     #FFFFFF;