// Theme colors
$brand-primary:                   #FF9900;
$brand-secondary:                 #3D3832;
$brand-tertiary:                  #312E29;
$gray-dark:                       #393735;
$gray:                            #85817D;
$gray-light:                      #E4E3E3;
$gray-lighter:                    #F5F4F4;
$white-color:                     #FFFFFF;