.technologies {
  background: #2C3358; }
  .technologies h3 {
    color: rgba(255, 255, 255, 0.9); }
  .technologies p {
    color: rgba(255, 255, 255, 0.4); }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #212641; }
  #site-footer p {
    color: rgba(255, 255, 255, 0.3); }
    #site-footer p a {
      color: rgba(255, 255, 255, 0.6); }

::-moz-selection {
  background: #FFC107;
  color: #FFFFFF; }

::selection {
  background: #FFC107;
  color: #FFFFFF; }

.jumbotron {
  background: url("images/jumbotron_pattern.png") fixed #2C3358; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #2C3358; }

pre {
  background: rgba(241, 242, 248, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }
